# Запретить pnpm добавлять префикс "workspace:" к локальным
# пакетам, так как это вызывает проблемы с manypkg
# @link https://pnpm.io/npmrc#prefer-workspace-packages
save-workspace-protocol=false
prefer-workspace-packages=true
