@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --dark: #0e0e0e;
    --graphite: #58595b;
    --beaver: #9b8579;
    --beaverLight: #f0edeb;
    --gray4: #bdbdbd;
    --gray5: #e0e0e0;

    --background: 0 0% 100%;
    --foreground: 220 2% 35%;

    --muted: 24 14% 93%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 2% 35%;

    --card: 0 0% 100%;
    --card-foreground: 220 2% 35%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 220 2% 35%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 220 2% 35%;

    --accent: 24 14% 93%;
    --accent-foreground: 220 2% 35%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 1rem;
  }

  .dark {
    --background: 240 19% 16%;
    --foreground: 24 14% 93%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 240 19% 16%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 240 19% 16%;
    --card-foreground: 213 31% 91%;

    --border: 240 19% 35%;
    --input: 216 34% 17%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 220 2% 35%;
    --secondary-foreground: 210 40% 98%;

    --accent: 240 19% 22%;
    --accent-foreground: 24 14% 93%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

html.dark .logo-svg path {
  fill: var(--beaverLight);
  transition: 0.15s ease-in-out;
}
.logo-svg path {
  transition: 0.15s ease-in-out;
  color: hsl(240, 19%, 22%);
}
